Source: syspopup
Section: devel
Priority: extra
Maintainer: Jayoun Lee <airjany@samsung.com>, Sewook Park <sewook7.park@samsung.com>, Jaeho Lee <jaeho81.lee@samsung.com>
Build-Depends: debhelper (>= 5), libdbus-glib-1-dev, libsqlite3-dev, libx11-dev, libecore-dev, libbundle-dev, dlog-dev, libslp-utilx-dev, libheynoti-dev, sqlite3, libaul-1-dev, libevas-dev, libappcore-efl-dev
Standards-Version: 0.1.0 

Package: syspopup-caller-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: syspopup-caller package

Package: syspopup-caller-dev
Section: libs
Architecture: any
Depends: syspopup-caller-0 (= ${Source-Version}), libdbus-glib-1-dev, libsqlite3-dev, libbundle-dev, dlog-dev, libheynoti-dev, libaul-1-dev
Description: syspopup-caller dev package

Package: syspopup-caller-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, syspopup-caller-0 (= ${Source-Version})
Description: syspopup-caller dbg package 

Package: syspopup-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sqlite3
Description: syspopup package

Package: syspopup-dev
Section: libs
Architecture: any
Depends: syspopup-0 (= ${Source-Version}), libdbus-glib-1-dev, libsqlite3-dev, libbundle-dev, dlog-dev, libheynoti-dev, sqlite3, libslp-utilx-dev, libx11-dev, libecore-dev, libevas-dev, libappcore-efl-dev
Description: syspopup dev package

Package: syspopup-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, syspopup-0 (= ${Source-Version})
Description: syspopup dbg package 

